<div class="about-main">
  <h1>Software development is fun!</h1>
  <p>Black Neuron Research is a club to share experience and knowledge about web applications development
      using Ruby on Rails but open to any other technology. We want to expand our community to </p>
      <ul>
          <li>Technologists</li>
          <li>Thinkers</li>
          <li>Builders</li>
          <li>Designers</li>
      </ul>
  <p>working together to bring web development in central Mexico accessible and readily available, so people can be informed
      and up to date with web application development. Our aim is to help general public materialize their needs and ideas to the
      Internet.
  </p>
  <p>This is an ongoing effort and this page is in constant evolution, if you want to know more about our club, please <%= link_to  "contact us", static_pages_contact_path %></p>
</div>
