<div class="contact-main">
  <h1>Let's share a cup of hot tea!</h1>
  <p>We will be very happy to share a cup of hot tea while talking about your projects and aspirations, please send a message to <%= mail_to "fernando.flores1961@gmail.com", "fernando.flores1961@gmail.com", subject: "Let's have a cup of hot tea!" %></p>
</div>
