<div class="hero-section">
  <div class="top-heading">
    <h1>A club for developers</h1>
  </div>
  <div class="bottom-heading">
    <h3>Coding with style, a learning playground</h3>
  </div>
</div>
