<div class="grid-container">
    <div class="grid-item">
      <%= image_tag('RoR-logo.png', size: "80x100", alt: 'Ruby On Rails logo') %>
    </div>
    <div class="grid-item">
      <p>Próximo curso: Desarrollo en Ruby on Rails, desde instalación en plataformas Windows, Mac y Linux; Ruby on Rails 5.1; Desarrollo de aplicaciones Web en plataforma de producción Heroku, desarrollo de APIs para acceder con Angular y Ionic</p>
      <table>
        <tr>
          <th>Fecha</th>
          <th>Lugar</th>
          <th>Costo</th>
          <th>Cupo</th>
        </tr>
        <tr>
          <td>Sept. 20 2018</td>
          <td>Por definir</td>
          <td>$199 pesos por persona</td>
          <td>Máximo 5 personas</td>
        </tr>
      </table>
    </div>
    <div class="grid-item">
      <%= image_tag('processes.jpg', size: "80x100", alt: 'Business processes') %>
    </div>
    <div class="grid-item">
      <p>Proximamente: Curso de automatización de procesos de negocio, como definir los procesos de las aplicaciones y como definir y medir las métricas de desempeño de los procesos.</p>
    </div>
  </div>
